repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^.devcontainer/devcontainer.json
      - id: pretty-format-json
        exclude: ^.devcontainer/devcontainer.json
        args: [--autofix, --no-sort-keys]
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=600"]
        exclude: uv.lock
      - id: check-merge-conflict
      - id: check-case-conflict

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.10.0-1
    hooks:
      - id: shfmt
        args: ['-w', '-i', '2']

  - repo: local
    hooks:
      - id: dprint
        name: dprint (markdown)
        entry: dprint fmt
        language: python
        types: [markdown]
        additional_dependencies: [dprint-py]

      - id: ty
        name: ty check
        entry: uv run ty check .
        language: system
        pass_filenames: false
