/*-- scss:defaults --*/

/* switchbox colors */
$sky: #68bed8;
$carrot: #fc9706;
$midnight: #023047;
$midnight_lighter: #0b6082;
$saffron: #ffc729;
$pistachio: #a0af12;
$pistachio_darker: #546800;
$black: #000000;
$grey: #a9aaae;
$white: #ffffff;


/*-- scss:rules --*/

/* farnham_text */
@font-face {
  font-display: swap;
  font-family: "Farnham";
  font-style: normal;
  src: url("https://switchbox-data.github.io/reports/fonts/farnham_text/FarnhamText-Regular.otf")
      format("opentype"),
    url("https://switchbox-data.github.io/reports/fonts/farnham_text/FarnhamText-Regular.otf") format("opentype");
}

/* farnham_text_bold */
@font-face {
  font-display: swap;
  font-family: "Farnham-Bold";
  font-style: normal;
  src: url("https://switchbox-data.github.io/reports/fonts/farnham_text/FarnhamText-Bold.otf") format("opentype"),
    url("https://switchbox-data.github.io/reports/fonts/farnham_text/FarnhamText-Bold.otf") format("opentype");
}

/* gt_planar */
@font-face {
  font-display: swap;
  font-family: "GT-Planar";
  font-style: normal;
  src: url("https://switchbox-data.github.io/reports/fonts/gt_planar/GT-Planar-Regular.otf") format("opentype"),
    url("https://switchbox-data.github.io/reports/fonts/gt_planar/GT-Planar-Regular.otf") format("opentype");
}

/* gt_planar_bold */
@font-face {
  font-display: swap;
  font-family: "GT-Planar-Bold";
  src: url("https://switchbox-data.github.io/reports/fonts/gt_planar/GT-Planar-Bold.otf") format("opentype"),
    url("https://switchbox-data.github.io/reports/fonts/gt_planar/GT-Planar-Bold.otf") format("opentype");
}

/* gt_planar_black */
@font-face {
  font-display: swap;
  font-family: "GT-Planar-Black";
  src: url("https://switchbox-data.github.io/reports/fonts/gt_planar/GT-Planar-Black.otf") format("opentype"),
    url("https://switchbox-data.github.io/reports/fonts/gt_planar/GT-Planar-Black.otf") format("opentype");
}

/* ibm_plex_sans */
@font-face {
  font-display: swap;
  font-family: "IBM-Plex-Sans";
  src: url("https://switchbox-data.github.io/reports/fonts/ibm_plex_sans/IBMPlexSans-Regular.otf")
      format("opentype"),
    url("https://switchbox-data.github.io/reports/fonts/ibm_plex_sans/IBMPlexSans-Regular.otf")
      format("opentype");
}

/* sf_mono */
@font-face {
  font-display: swap;
  font-family: "SFMono";
  font-style: normal;
  font-weight: 400;
  src: url("https://switchbox-data.github.io/reports/fonts/sf_mono/SFMono-Regular.otf") format("opentype"),
    url("https://switchbox-data.github.io/reports/fonts/sf_mono/SFMono-Regular.otf") format("opentype");
}

$font-family-sans-serif: "Farnham";
$font-family-monospace: "SFMono";
$presentation-heading-font: "GT-Planar-Bold";

$presentation-h1-font-size: 2.5em;
$presentation-h2-font-size: 1em;
$presentation-h3-font-size: 1em;

$link-color: $midnight_lighter !default;
$link-decoration: underline !default;

.reveal a {
  color: $midnight_lighter;
  text-decoration-color: $sky;
}
