name: Main

on:
  push:
    branches: [ main ]
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]

jobs:
  tests-and-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: devcontainers/ci@v0.3
        with:
          push: never
          runCmd: echo "Container started"

      - name: run pre-commit hooks
        uses: ./.github/actions/run-in-devcontainer
        with:
          runCmd: prek -a

      # no tests for now
      # - name: run tests
      #   uses: ./.github/actions/run-in-devcontainer
      #   with:
      #     runCmd: uv run python -m pytest tests

      - name: ty check
        uses: ./.github/actions/run-in-devcontainer
        with:
          runCmd: uv run ty check
